/* Header */
#header {
    height: 80px;
    background: #fff;
    width: 1403px;
    margin-inline: auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nav__list {
    display: flex;
    gap: 14px;
}

/* end Header */

/* Banner */
.banner {}

.banner img {}

/* end Banner */

/* Form search layout */

/* Form search */
.form-search {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    padding: 12px;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.20);
}

#form-search_input .icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #999;
    transition: linear 0.2s;
    pointer-events: none;
}

/* end Form search */

/* Form search input */

#form-search_input {
    flex: 1 0 0;
    display: flex;
    position: relative;
}

#form-search_input input {
    padding: 15px 15px 15px 46px;
    border-radius: 6px;
    border: none;
    transition: linear 0.2s;
    height: 51px;
    width: 100%;
    align-items: center;
}

#form-search_input ::placeholder {
    color: #999;
    opacity: 1;
}

#form-search_input input:focus {
    border-color: var(--light-gray);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

#form-search_input input:focus+.icon {
    color: #fff;
}

#form-search_input .icon svg {
    height: 24px;
}

/* end Form search input */

/* Form select */
#form-search_location {
    display: flex;
    width: 271px;
    height: 50px;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: #FFF;
    backdrop-filter: blur(2px);
    /* cursor: pointer; */
    flex-shrink: 0;
}

#form-search_location .icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #999;
    transition: linear 0.2s;
    pointer-events: none;
}

.form-search_left {
    display: flex;
    gap: 8px;
}

#form-search_location span {
    color: #999;
}

#location {
    padding: 8px 40px;
    color: #9ca3af;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#form-search_location .icon-right {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    color: #9ca3af;
    transition: linear 0.2s;
    pointer-events: none;
}

/* end Form select */

/* end Form search layout */

/* Proposals */

.proposals {
    padding: 12px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    color: var(--purple-gradient);

}

.list-item {
    display: inline-flex;
    gap: 8px;
}

.suggest-item {
    background-color: var(--gray);
    border-radius: 8px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

/* end Proposals */

/* Job list */

/* Job wrapper */
.job-wrapper {
    margin-top: 77px;
    display: grid;
    gap: 80px;
}

.section-1 {
    display: grid;
    gap: 40px;
}

/* end Job wrapper */

/* Job header */
.job-header {
    display: flex;
    align-items: center;
}

.job-header-left {
    flex: 1 0;
    display: flex;
    align-items: center;
    gap: 9px;
}

.icon-header__border {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 12.342px 30px 0px rgba(0, 0, 0, 0.08);
}

.icon-header__img {
    width: 52.895px;
    height: 52.895px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17.632px;
}

.job-header-right {
    flex-shrink: 0;
}

.job-header-right a {
    color: #021A84;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.btn-full-jobs {
    display: flex;
    border-color: transparent;
    border-radius: 8px;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
}

.btn-full-jobs:hover {
    border: 1.5px solid black;
    border-radius: 8px;
    transition: 0.1s;
}

/* end Job header */

/* Job card */
.job-card__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.job-card__item {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid var(--primary);
    background: #FFF;
}

.job-card__header {
    display: flex;
}

.job-card__nameWrap {
    display: flex;
    width: 253px;
    align-items: flex-start;
    gap: 8px;
}

.job-card__logo {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.job-card__name {
    color: #171717;
    width: 186px;
    flex-shrink: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.24px;
}

.job-card__time {
    display: flex;
    color: var(--primary);
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--light-gray);
    color: var(--Light-Yellow-50, #021A84);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.job-card__income {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.job-card__commission {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.commission-header {
    color: var(--text);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.commission-money,
.remunerate-money {
    display: flex;
}

.remunerate-money__number,
.commission-money__number {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.measure {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #999;
}


.job-card__incommeBulkhead {
    width: 1px;
    height: 16px;
    background: #E5E5E5;

}

.job-card__bulkhead {
    width: 333.333px;
    height: 1px;
    background: #E5E5E5;
}

.job-card__others {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.others-left {
    display: flex;
    gap: 10px;
}

.others-location,
.others-status {
    background-color: var(--light-gray);
    border-radius: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border: transparent;
}

.others-level {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border-radius: 8px;
    background-color: #FE4C4C;
}


/* end Job card */

/* end Job list */

/* end Section 1 */

/* Section 2 */
.section-2 {
    display: grid;
    gap: 40px;
}

.sec2__h1 {
    color: var(--primary);

    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.sec2__h2 {
    color: var(--dark-primary);
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}



.sec2__h1,
.sec2__h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2__body {
    display: flex;
    width: 1160px;
    align-items: flex-start;
    gap: 32px;
}

.sec2-body__wrap {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;
}

.body__job {
    background: var(--light-green-gradient);
}

.body__money {
    background: var(--blue-80-gradient);
}

.body__network {
    background: var(--orange-gradient);
}

.sec2-body__title {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: black;
    align-self: stretch;
}

.sec2-body__detail {
    color: black;
    text-align: center;
}

/* end Section 2 */

/* Section 3 */
.section-3 {
    display: grid;
    gap: 40px;
}

.sec3-body__wrap {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.partner-logo {
    border: 8px solid #fff;
    border-radius: 16px;
}

/* end Section 3 */

/* section 4 */


.step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--gray);
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    color: #fff;
    border: 6px solid #fff;

}

.section-4 {
    display: grid;
    gap: 40px;
}

.sec4-body__img {
    width: 102px;
    height: 98.98px;
}

.sec4-body__wrap {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
}

/* end section 4 */

/* footer */
.footer-header__icon {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 12.342px 30px 0px rgba(0, 0, 0, 0.08);
}

.footer-header__left {
    background: linear-gradient(to right, rgba(12, 198, 75, 1), rgba(38, 171, 91, 1));
    display: flex;
    flex: 1 0 0;
    align-items: center;
    gap: 16px;
    height: 119px;
    padding-left: 40px;
}

.footer-header__right {
    display: flex;
    background: var(--light-green-gradient);
    justify-content: center;
    align-items: center;
    width: 223px;
    flex-shrink: 0;
}

.footer-header__right button {
    size: 70%;
}

#footer-header {
    /* width: 1440px !important; */
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;

}

.footer-header__title {
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.footer-header__detail {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

#footer {
    display: grid;
    gap: 40px;
}

.footer-email__left {
    display: flex;
    gap: 16px;
}

.footer-email__left input {
    padding: 15px 15px 15px 20px;
    border-radius: 6px;
    border: none;
    transition: linear 0.2s;
    height: 50px;
    width: 252px;
    align-items: center;
}

.footer-email__left ::placeholder {
    color: #999;
    opacity: 1;
}

.footer-email__left input:focus {
    border-color: var(--light-gray);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.btn--email {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: linear-gradient(to right, rgba(239, 70, 58, 1), rgba(252, 169, 57, 1));
}

#footer-email {
    display: flex;
    justify-content: space-between;
}

.footer-email__right {
    display: flex;
    gap: 18px;
}

.quantity {
    display: flex;
    align-items: center;
}

.white-round-bg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray-span {
    padding-left: 5px;
    color: var(--gray);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.fui-footer-3 {
    width: 100%;
    padding: 40px 32px 20px;
    background-color: inherit;
    color: black;
    padding-bottom: 150px;
}

.fui-footer-3 .footer-category-wrap {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 40px;

}

.fui-footer-3 .footer-category:first-child {
    width: 190.43px;
}

.fui-footer-3 .footer-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray);

}

.fui-footer-3 .footer-logo img {
    height: 40px;
}

.fui-footer-3 .footer-desc {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.6;
    padding-bottom: 24px;

}

.fui-footer-3 .copy-right {
    font-family: "Inter", sans-serif;
    color: var(--gray);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 30px;
}

.fui-footer-3 .social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    width: 100%;
    height: 32px;

}

.fui-footer-3 .social-item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fui-footer-3 .social-link {
    width: 32px;
    height: 32px;
    transition: linear 0.25s;
    border: 1px solid transparent;
    border-radius: 50%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fui-footer-3 .social-link:hover {
    opacity: 0.5;
}

.fui-footer-3 .footer-heading {
    color: var(--dark-primary);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.fui-footer-3 .footer-category-item {
    margin-bottom: 32px;
}

.fui-footer-3 .footer-category-item:last-child {
    margin-bottom: 0;
}

.fui-footer-3 .footer-category span {
    color: var(--gray);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.fui-footer-3 .footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fui-footer-3 .footer-link {
    transition: linear 0.2s;
}

.fui-footer-3 .footer-link:hover {
    color: #1dc071;
}

.fui-footer-3 .footer-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.fui-footer-3 .footer-bottom-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.fui-footer-3 .footer-bottom-link {
    font-size: 14px;
    transition: linear 0.2s;
}

.fui-footer-3 .footer-bottom-link:hover {
    color: #1dc071;
}

/* end footer */